In [1]:
## python basics##

In [2]:
a=123
b=90
print(a,b)

123 90

In [3]:
a=123
type(a)

int

In [4]:
a=123
type(float(a))

float

In [7]:
b="vasantha"
type((b))

str

In [8]:
x=13
type(str(x))

str

In [9]:
a=20
b=float(20)
print(b)

20.0

In [10]:
input()

123456

'123456'

In [12]:
c=int(input())
type(c)

1234

int

In [13]:
c=input()
type(c)

123

str

### arithmatic operator###
### relational operator###
### conditional operator###
### assignment operator###
### logical operator###
### indentation###
### membership operator###

### 1.arithmatic operator###

In [14]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a^b)

30
-10
200
10
0.5
30

In [15]:
pow(a,b)

100000000000000000000

In [16]:
a**b

100000000000000000000

## 2. relational operators##

In [19]:
a=10
b=20
a>b
a<b
a<=b

True

##  3.assignment operator##

*** a=10,b=12,c=13 ***

In [27]:
a+=10
a

64

In [28]:
a-=10
a

54

### 4. logical operators###

** logical and
logical or
logical not**

In [30]:
a=10
b=20
a and b

20

In [32]:
True and True

True

In [33]:
True or False

True

In [34]:
False and False

False

### 4.bitwise operator###

In [36]:
4 & 7

4

In [37]:
4 | 7

7

## indentation##

In [38]:
2 is not 3

True

In [43]:
1 is not 5

True

###  MEMBERSHIP operator###

In [44]:
a="vasantha"
"h" in a

True

In [45]:
a="sailu"
"v" in a

False