# 21-09-19
# conditional statements

## simple if
# else if
# nested if

In [9]:
a=10
if(a==10):
    print("true")

true

# else if

In [6]:
a=10;b=20;c=12
if(a>b)and(a>c):
    print("a is largest number")
else:
    print("c is largest number",c)

c is largest number 12

# nested if else

In [14]:
if a>b:
    if a>c:
        print("a is largest number")
elseif b>c:
    print("b is largest value")
else:
    print("c is lagest number")

SyntaxError: invalid syntax (<ipython-input-14-83b2027a2ffc>, line 4)

# while loop

In [21]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

#  break &continue

In [28]:
i=10
for i in range(1,n+1):
    if i==3:
        continue
        print(i)

In [30]:
i=10
for i in range(1,n+1):
    if i==4:
        break
        print(i)

# lists

In [38]:
l1=[1,2,3]
print(type(1))
l2=[1,2,3,"hello",2.7]
print(type(l2))
l3=[1,2,[3,4]]
print(type(l3))
print(l3[0])
print(l3[1])
print(l3[2][0])

<class 'int'>
<class 'list'>
<class 'list'>
1
2
3

In [39]:
l2[0:]

[1, 2, 3, 'hello', 2.7]

In [40]:
l2[2:3]

[3]

In [41]:
l2[::-1]

[2.7, 'hello', 3, 2, 1]

In [42]:
l2[:4:3]

[1, 'hello']

In [51]:
l3=[1,2,3,4,5]
print(l3[-1:-3:-2])

[5]

In [52]:
a="sri padmavati mahila university"
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'ti m', 'hil', ' university']

list

In [53]:
"a".join(b)

'sri padmavati mahila university'

In [54]:
a="vasanthaanipireddy"
b=a.split("a")
print(b)
type(b)

['v', 's', 'nth', '', 'nipireddy']

list

In [55]:
"a".join(b)

'vasanthaanipireddy'

# function on lists

# len
# min
# max
# sorted
# sum

In [60]:
list=[1,23,45,56,78,64]
print(len(list))
print(min(list))
print(max(list))
print(sorted(list,reverse=True))
print(sum(list))

6
1
78
[78, 64, 56, 45, 23, 1]
267

In [61]:
list[4]

78

In [62]:
list

[1, 23, 45, 56, 78, 64]

In [63]:
help(list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [64]:
list.append(1)
list

[1, 23, 45, 56, 78, 64, 1]

In [71]:
list.clear()
list

[]

In [85]:
list=[1,2,3,4,5,6]
list1=list.copy()
list1

[1, 2, 3, 4, 5, 6]

In [84]:
list.count(1)

1

In [83]:
list.index(2,2,4)

ValueError: 2 is not in list

In [88]:
list.insert(0,65)
list

[65, 1, 2, 3, 4, 5, 6]

In [107]:
list.pop(1)

4

In [92]:
list

[65, 1, 3, 4, 5, 6]

In [95]:
list.remove(65) # 1 is the value

In [97]:
sorted(list,reverse=False)# ASCENDING ORDER

[3, 4, 5, 6]

In [100]:
sorted(list,reverse=True)# DESCEDING ORDER

[6, 5, 4, 3]

In [108]:
list

[3]

# sort the elements in the ascending and descending order

In [87]:
l=("enter the list of elements")
for i in range(1,n+1)

SyntaxError: invalid syntax (<ipython-input-87-185020a7599f>, line 2)

In [56]:
for i in range(2,n):
    count=0
    if i%2==0:
        for j in range(i,j+1):
    
            print("given number is prime")
else        
        print("given number is not prime")

SyntaxError: invalid syntax (<ipython-input-56-c5e0a7d5a014>, line 5)

# Check the given year is a Leap year or not

In [55]:
n=int(input("enter year "))
if ((n%400==0) or (n%100!=0 and n%4==0)):
    print("given year is  leap year")
else:
    print("given year is not leap year")

enter year 2008
given year is  leap year

# Check if the number exist in a given range (inputs: number(n), range(lower number and upper number)

In [73]:
k=int(input("enter the searching element"))
for i in range(1,10):
        if i==k:
            print("number is found",k)
            break
else:
    print("number is not found",k)

enter the searching element11
number is not found 11